@model EM.Domain.Model.Aluno

@{
    ViewData["Title"] = "Editar Aluno";
}

<h1>Editar Aluno</h1>

<hr />

@if(TempData["MensagemSucesso"] != null)
{
      <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemSucesso"]
      </div>
}

@if (TempData["MensagemAlerta"] != null)
{
    <div class="alert alert-warning" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MensagemAlerta"]
    </div>
}

@if (TempData["MessagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" aria-label="Close">X</button>
        @TempData["MessagemErro"]
    </div>
}


<div class="row">
    <div class="col-md-4 mb-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" disabled/>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPF" class="control-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nascimento" class="control-label"></label>
                <input asp-for="Nascimento" class="form-control" type="date" />
                <span asp-validation-for="Nascimento" class="text-danger"></span>
            </div>
             <div class="form-group mb-4">
                <label asp-for="Sexo" class="control-label"></label>
                <select asp-for="Sexo" class="form-select" id="sexo" aria-label="Default select example" required>
                    <option selected></option>
                    <option value="0">Masculino</option>
                    <option value="1">Feminino</option>
                </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary"> Voltar </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
